# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDE / Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Logs
*.log

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Database files (if any local)
*.sqlite3
*.db
